.banner{
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url('https://grazionale.github.io/dist_portifolio/images/background1.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
    background-position: center bottom;
}